body{font-family:Arial;background:#f4f4f4}
header,footer{background:#222;color:#fff;padding:15px;text-align:center}
.container{max-width:420px;margin:50px auto;background:#fff;padding:20px}
input,button{width:100%;padding:10px;margin:10px 0}
h3{text-align:center}